parameters:
    level: 1
    fileExtensions:
        - php
        - phtml
    paths:
        - Api
        - Block
        - Controller
        - Helper
        - Model
        - Plugin
        - Repository
        - Setup
        - Ui
        - Validator
        - view
