<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Xigen\OrderHistory\Api\HistoryRepositoryInterface" type="Xigen\OrderHistory\Model\HistoryRepository"/>
	<preference for="Xigen\OrderHistory\Api\Data\HistoryInterface" type="Xigen\OrderHistory\Model\Data\History"/>
	<preference for="Xigen\OrderHistory\Api\Data\HistorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Xigen\OrderHistory\Api\HistoryAddressRepositoryInterface" type="Xigen\OrderHistory\Model\HistoryAddressRepository"/>
	<preference for="Xigen\OrderHistory\Api\Data\HistoryAddressInterface" type="Xigen\OrderHistory\Model\Data\HistoryAddress"/>
	<preference for="Xigen\OrderHistory\Api\Data\HistoryAddressSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Xigen\OrderHistory\Api\HistoryItemRepositoryInterface" type="Xigen\OrderHistory\Model\HistoryItemRepository"/>
	<preference for="Xigen\OrderHistory\Api\Data\HistoryItemInterface" type="Xigen\OrderHistory\Model\Data\HistoryItem"/>
	<preference for="Xigen\OrderHistory\Api\Data\HistoryItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
